/* this has linked successfully */
body {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 2% repeat(4, 1fr)  2%;
  grid-template-rows: 10% auto 5%;
  grid-template-areas:
    "header header header header header header"
    ". main main main main ."
    "footer footer footer footer footer footer";
}

.header-container {
  grid-area: header;
}

.main-container {
  grid-area: main;
  border-radius: 5%/10%;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-container {
  grid-area: footer;
}

[class*=color-swatch] {
  background-color: blue;
  border: 1px solid black;
}

[class*=color-swatch] > input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 20px;
  letter-spacing: 3px;
}
.quantity-input {
  margin-top: .25em;
  margin-left: .25em;
  width: 3em;
}
